<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h1>Om</h1>
        <nav>
            <a href="/">Hem</a>
            <a href="/add">Lägg till kurs</a>
            <a href="/about">Om</a>
        </nav>
    </header>

    <main>
        <div id="about">
            <p>Denna webbplats gör att man kan spara kurser i en databas. Jag har använt MySQL med nodeJS och express då
                vi
                använde MySQL i tidigare kurs.<br>
                Mina slutsatser är att det känns väldigt logiskt allting. Eftersom vi tidigare arbetat med MySQL var det
                egentligen bara express som jag behövde ha en förståelse för och det fick jag genom genomgångar och <a
                    href="https://www.w3schools.com/nodejs/nodejs_express.asp" target="_blank">w3</a>.<br>Mina kunskaper
                kring git behöver dock förbättras då jag inte förstår hur merges etc fungerar riktigt. Denna labb landar
                i
                onödigt mycket branches, med en main som inte fungerar. Jag behöver läsa på om det mer.</p>
        </div>
    </main>
</body>

</html>